body{

	/*background-color: rgb(77,34,77);*/
	/*background-color: rgb(220,250,218);*/
	background-color: white;
	font-family: "Times New Roman";
	color: black;
}

.body{

	background-color: rgb(77,34,77);
	
	font-family: "Times New Roman";
	color: black;
}

.container{
	background-color:white;
	width:100%;
	

}
.containerenseignant{
	margin-bottom: 6%;
	padding-bottom: 5%;
	height: 100%;

}

.entete{
	text-align:left;
	
}

#logo{
	width:100px;
	height:102.5px;
}


#connexion{
	font-size:10px;
	margin-top:10%;
}
#header{
	padding-top:-50%;
	font-size: 20px;
	background-color: white;
	margin-bottom:30px;
	color:black;
}
#espace{
	margin-top:-2%;
	background-color: rgb(77,34,77);
	color:rgb(77,34,77);
}
#menu-admin{
	margin-top: 49px;
	background-color: rgb(77,34,77);
}

#menu-admin a{
	color: white;
	font-size: 15px;
	background-color: rgb(77,34,77);	

}

#menu-admin a:hover{
	color: white;
	background-color: rgb(95,60,95);
}

#sous-menu{
	color: white;
	background-color: rgb(77,34,77);
}

#Rechercher{
	font-size:18px;
	 height: 40px;
	 color: rgb(116,71,48);
}

#entete-admin{
	height:50px;
	color:white;
	font-size: 15px;
	background-color: rgb(77,34,77);

}

#entete-admin #titre a {
	color: white;
	font-size: 40px;
	background-color: rgb(77,34,77);
	padding-bottom: 60px;
}

#icone {
color: rgb(77,34,77);
font-size: 15px;
}


#icone2{
font-size: 12px;
margin-top: -7px;
margin-left: 15px;
}

#iconeadmin {
color: white;
font-size: 15px;
}


#iconeadmin2{
font-size: 12px;
margin-top: -7px;
margin-left: 15px;
}

#titre_panel{
	font-size:22px;
	 color: black;

}

#Departement{
font-size: 20px;	
}

 #nom-dossier{
	margin-bottom: 10px;
}

 #nom-departement{
	margin-bottom: 10px;
}
 #nom-dossier div{
	color: rgb(116,71,48);
}